@import "../../../styles/global/Mixins.scss";
@import "../../../styles/global/Variables.scss";

.container-pokemon-item {
    @include flexCenter();
    flex-direction: column;
    justify-content: space-between;
    height: 220px;
    width: 245px;
    margin-bottom: 60px;

    p{
        color: $primary1;
    }

    p#id{
        text-align: start;
        width: 80%;
    }

    p#name{
        font-size: larger;
    }

    img{
        width: 175px;
        height: 175px;
    }
}
