@import "../../../styles/global/Mixins.scss";
@import "../../../styles/global/Variables.scss";

#hoverable-container:hover{
    box-shadow: (inset 2px 2px 4px rgba(0, 0, 0, 0.15));
}
#hoverable-container:active{
    box-shadow: (inset 2px 2px 4px rgba(0, 0, 0, 0.699));
}

.container-pokemon-item {
    @include flexCenter();
    @include cardTemplate();
    flex-direction: column;
    justify-content: space-between;
    height: 220px;
    width: 200px;
    padding: 8px;
    padding-bottom: 18px;
    margin-bottom: 60px;
    margin-right: 20px;
    box-shadow: (2px 2px 4px rgba(0, 0, 0, 0.15));
    

    p{
        color: $primary1;
    }

    p#id{
        text-align: start;
        width: 80%;
        font-size: 1.2rem;
    }

    p#name{
        font-size: 1.3rem;
    }

    img{
        width: 160px;
        height: 160px;
    }
};