@import '../../../styles/global/Mixins.scss';

.allpokemon-container{
    @include flexCenter();
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    max-width: 1080px;
};
.pokemon-list-container{
    @include flexCenter();
    flex-wrap: wrap;
}