@import './Variables.scss';

@mixin flexCenter{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
};

@mixin cardTemplate{
    background-color: $background;
    border-radius: 5%;
    padding: 8px;
    padding-bottom: 18px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
};