@import "../../../styles/global/Mixins.scss";
@import "../../../styles/global/Variables.scss";

.single-pokemon-container {
    @include cardTemplate();
    @include flexCenter();

    max-width: 700px;
    width: 90%;
    position: relative;
    padding: 30px 50px;
    justify-content: space-between;
    flex-wrap: wrap;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.15);

    p {
        text-align: left;
        font-size: 17px;
    }
    p#id {
        position: absolute;
        top: 15px;
        left: 20px;
    }
    p.title {
        font-size: 18px;
        font-weight: 500;
        text-align: left;
        margin-bottom: 8px;
        width: 100%;
    }
    .divider {
        height: 200px;
        width: 1px;
        border-left: 1px solid #d7d7d7;
    }
    .image-title-container {
        width: 25%;
        @include flexCenter();

        p {
            text-align: center;
        }
        p.title {
            font-size: 22px;
        }
        .pokemon-image{
            width: 100%;
            height: 150px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover
        }
        .pokemon-types-container{
            @include flexCenter();
            justify-content: center;
            flex-wrap: wrap;

            width: 100%;
            
            p.pokemon-type {
                padding: 2px 11px;
                margin: 5px;
                border-radius: 5px;
                color: white;
                font-size: 16px;
            }
        }
    }
    .description-stats-container {
        @include flexCenter();
        flex-direction: column;
        width: 65%;
        .description {
            margin-bottom: 40px;
        }
        .stats-container {
            @include flexCenter();
            flex-direction: column;
            align-items: flex-start;
            flex-wrap: wrap;
            height: 70px;
            width: 100%;
            p {
                text-align: left;
                margin-bottom: 2px;
            }
        }
    }
}
